.right__contents__messagebox
  .right__contents__messagebox__message--name
    = message.user.name
  .right__contents__messagebox__message--date
    = message.created_at.strftime('%Y/%m/%d %H:%M')
  .right__contents__messagebox--text
    = message.text
    %br
    = image_tag message.image, size: "200x132", alt: "test", style: "margin-top: 10px;"
