.right__contents__messagebox
  .right__contents__messagebox__message--name
    = message.user.name
  .right__contents__messagebox__message--date
    = message.created_at
  .right__contents__messagebox--text
    = message.text
    = image_tag 